NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB1e7tJcRkAt2meIqdi9KKuGoulHvD95yg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gamecentral-3ee9d.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gamecentral-3ee9d
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gamecentral-3ee9d.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=571294835092
NEXT_PUBLIC_FIREBASE_APP_ID=1:571294835092:web:36fc557fd6bf26ad462f81
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-LLC9GEF5GX